* {
    position: relative;
}

header h1{
    display: inline;
    padding-right: 100px;
}
nav {
    float: inline-start;
    display: inline;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

details summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
}

.content {
    display: block;
}