@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

/***********
*  GLOBAL  *
***********/

* {
    position: relative;
}


/*********
*  BODY  *
*********/

body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
}

img {
    width: 250px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}


/***********
*  HEADER  *
***********/

header {
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0px 0px 20px 20px;
    padding-left: 20px;
    background-color: #543fff;
}

/* Logo image left of header h1 */
#logo {
    width: 56px;
    top: 5px;
}

header h1{
    display: inline;
    padding-left: 20px;
    padding-right: 200px;
    bottom: 10px;
    font-size: 40px;
    font-family: "Dancing Script", "Brush Script MT", cursive;
    font-weight: bold;
    color: gold;
}


/********
*  NAV  *
********/

nav {
    float: inline-start;
    display: inline;
}

a {
    bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}


/*********
*  MAIN  *
*********/

h2 {
    font-size: 30px;
    font-family: "Bagel Fat One", fantasy;
    color: #311847;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/***********
*  FOOTER  *
***********/

footer {
    margin-top: auto;
}


/**************
*  HOME PAGE  *
**************/

#home_div {
    height: 500px;
    width: 50%;
    top: 75px;
    left: 20px;
    border-radius: 50px;
    padding: 20px 20px 0px;
    text-align: center;
    background-color: lightpink;
}


/**********************
*  OUR PRODUCTS PAGE  *
**********************/

details summary {
    cursor: pointer;
}

details summary > h2 {
    display: inline;
}

/* All divs under details */
details .content {
    display: block;
}


/**************************
*  ORDER & DELIVERY PAGE  *
**************************/

select:invalid, select option[value=""] {
  color: darkgray;
}
