{% extends "layout.html" %}
{% block content %}

<h2 class="about_h2">About Us</h2>
<div class="about_content">

    <p>First established in Christchurch in 1907 by the wondrous Wizen Willieotter, we are a famous New Zealand ice cream brand known for our innovative flavours and toppings, 
    made from real ingredients fresh from their sources.
    We have many stores across New Zealand, and we are also renowned the world over. 
    Many kiwis and tourists from across the globe come to our stores to try our yummy ice creams!</p>

</div>

<h2 class="about_h2">Locations</h2>
<div class="about_content">
    
    <p>We have many magical stores in cities all across New Zealand.</p>
    <ul>
        <li>Auckland:
            <ul>
                <li>9 Enchanted Road</li>
                <li>12A Dragon Avenue</li>
                <li>42 Coven Lane</li>
            </ul>
        </li>
        <li>Wellington:
            <ul>
                <li>14 Merlin Street</li>
                <li>2 Sorcerer's Staff Square</li>
            </ul>
        </li>
        <li>Hamilton:
            <ul>
                <li>89 Wairua Street</li>
            </ul>
        </li>
        <li>Tauranga
            <ul>
                <li>69 Cauldron Street</li>
            </ul>
        </li>
        <li>Christchurch:
            <ul>
                <li>1 Willieotter Road</li>
                <li>8 Golden Boulevard</li>
                <li>20C Elder Place</li>
            </ul>
        </li>
        <li>Queenstown:
            <ul>
                <li>420 Enterna Plaza</li>
            </ul>
        </li>
        <li>Dunedin
            <ul>
                <li>101 Tohunga Street</li>
                <li>39 Unicorn Plaza</li>
            </ul>
        </li>
    </ul>

</div>

<h2 class="about_h2">Contact Info</h2>
<div class="about_content">
    
    <p>We are happy to hear your feelings on our products and services. 
    If you would like to talk about any suggestions or improvements you have in mind, 
    you can come to your nearest store and chat to us, or contact us via the methods below.</p>
    <ul>
        <li>Phone: 0800 888 333</li>
        <li>Email: contact@willieotter.com</li>
    </ul>
    <p>You can also check out our official social media accounts!</p>
    <ul>
        <li>Facebook: willieotter</li>
        <li>Twitter: willieotter</li>
        <li>Instagram: willieotter_ig</li>
        <li>Youtube: willieotterYT</li>
    </ul>

</div>

    
{% endblock %}