{% extends "layout.html" %}
{% block content %}

<h2 class="flavours_text">Our Products - Flavours</h2>
<p class="flavours_text">Here you can see our fantastic, flavoursome flavours!
Willieotter's Wizard Ice-creams' one-of-a-kind dessert delights are made of fresh, real ingredients from reputable sources.</p>

<div id="grid_container">

    {% for item in flavours %}
    <div class="item">

        <img class="item_image" src="/static/images/{{ item[4] }}" alt="Photo of '{{ item[1] }}' Flavour">

        <div>
            <!-- name of each flavour -->
            <h3>{{ item[1] }}</h3>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}