<hr>
<h3>&copy; 2023 &nbsp; Willieotter's Wizard Ice-creams Ltd.</h3>

<!-- disclaimer -->
<details class="disclaimers">
    <summary class="fine_text">Disclaimer:</summary>
    <p class="fine_text">
        This website is a creative work of fiction;
        it is designed for artistic and entertainment purposes, not factual information.
        While the business and its goods and services are products of the creator's imagination,
        some references to actual places, landmarks, or events may be incorporated into the website for creative purposes.
        Any resemblance to real events or persons, living or deceased, is purely coincidental.
        No copyright infringement is intended and no animals or magical creatures were harmed in the making of this website.
    </p>
</details>