<!doctype html>
<html>
    <head>
        <title>Willieotter's Wizard Ice-creams</title>
        <link rel = "stylesheet" href = "/static/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    </head>
    <body>
        <header>
            {% include "header.html" %}
            <nav>
                {% include "nav.html" %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>