<!doctype html>
<html>
    <head>
        <title>Willieotter's Wizard Ice-creams</title>
        <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <header>
            {% include "header.html" %}
            <nav>
                {% include "nav.html" %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>