<a href="/" id="home">Home</a> &nbsp;&nbsp; 
<a href="/about_us" id="about_us">About Us</a> &nbsp;&nbsp; 

<div id="dropdown">

    <a href="javascript:void(0)" id="our_products">Our Products</a> &nbsp;&nbsp; 
    
    <div id="dropdown_content">
        <a href="/flavours" class="dropdown_links" id="flavours_link">Flavours</a>
        <hr>
        <a href="/toppings" class="dropdown_links" id="toppings_link">Toppings</a>
        <hr>
        <a href="/containers" class="dropdown_links" id="containers_link">Containers</a>
    </div>
    
</div>

<a href="/order_&_delivery" id="order_&_delivery">Order & Delivery</a>

<script src="{{url_for('static', filename='/js/nav-script.js')}}"></script>