<script src="{{url_for('static', filename='script.js')}}"></script>

{% extends "layout.html" %}
{% block content %}
<h2>Order & Delivery</h2>

<form>
        
    <div id="divContainer">

        <label for="flavours">Choose a flavour:</label>
        <select name="flavours" id="flavours">
            <option value="" selected>-- Select flavour --</option>
            {% for item in flavours %}
                <option value="{{ item[0] }}">{{ item[1] }}</option>
            {% endfor %}
        </select>

        <label for="containers">Choose a container:</label>
        <select name="containers" id="containers">
            <option value="" selected>-- Select container --</option>
            {% for item in containers %}
                <option value="{{ item[0] }}">{{ item[1] }}</option>
            {% endfor %}
        </select>

    </div>

</form>

<button onclick="cloneSelect()">Add row</button>

{% endblock %}