{% extends "layout.html" %}
{% block content %}

<h2 class="products_text">Our Products</h2>
<p class="products_text">Here you can see our flavoursome flavours, tasty toppings, and convenient containers! 
Willieotter's Wizard Ice-creams' one-of-a-kind dessert delights are from fresh, real ingredients from reputable sources.</p>

<br>

<!-- flavours collapsible list -->
<details>
    <summary><h2>Flavours</h2></summary>

        {% for item in flavours %}
            <div class="item">

                <img class="item_image" src="/static/images/{{ item[4] }}" alt="Photo of '{{ item[1] }}' Flavour">

                <div class="item_text">

                    <!-- name, price & description of each flavour respectively -->
                    <h3>{{ item[1] }} &nbsp; ${{ item[2] }}</h3>
                    <p>{{ item[3] }}</p>

                    <!-- incompatible topping name and corresponding warning for each flavour -->
                    <p>Incompatible Toppings:</p>
                    {% for topping in incompatible_toppings %}
                        {% set flavour_id = topping[0] %}
                        {% if item[0] == flavour_id %}
                            <ul><li>{{ topping[1] }} - {{ topping[2] }}</li></ul>
                        {% endif %}
                    {% endfor %}

                </div>
                
            </div>
        {% endfor %}

</details>

<!-- toppings collapsible list -->
<details>
    <summary><h2>Toppings</h2></summary>

        {% for item in toppings %}
            <div class="item">

                <!-- name, price & description of each topping -->
                <h3>{{ item[1] }} &nbsp; ${{ item[2] }}</h3>
                <p>{{ item[3] }}</p>

                <!-- incompatible flavour name & corresponding warning for each topping -->
                <p>Incompatible Flavours:</p>
                {% for flavour in incompatible_flavours %}
                    {% set topping_id = flavour[0] %}
                    {% if item[0] == topping_id %}
                        <ul><li>{{ flavour[1] }} - {{ flavour[2] }}</li></ul>
                    {% endif %}
                {% endfor %}

            </div>
        {% endfor %}

</details>

<!-- containers collapsible list -->
<details>
    <summary><h2>Cones, Cups & Containers</h2></summary>

        {% for item in containers %}
            <div class="item">

                <!-- name & description for each container -->
                <h3>{{ item[1] }}</h3>
                <p>{{ item[2] }}</p>

            </div>
        {% endfor %}

</details>

{% endblock %}