{% extends "layout.html" %}
{% block content %}

<div class = "flavours">
    <button><h2>Flavours</h2></button>

    <div class = "flavours-content">
        {% for item in flavours %}
        <h3>{{ item[1] }} &nbsp; ${{ item[2] }}</h3>
        <p>{{ item[3] }}</p>
        {% endfor %}
    </div>
    
</div>

<h2>Toppings</h2>
{% for item in toppings %}
    <h3>{{ item[1] }} &nbsp; ${{ item[2] }}</h3>
    <p>{{ item[3] }}</p>
{% endfor %}

<h2>Cones, Cups & Containers</h2>
{% for item in containers %}
    <h3>{{ item[1] }}</h3>
    <p>{{ item[2] }}</p>
{% endfor %}
{% endblock %}